#deleteButton {
    position:relative;
    display: flex;
    justify-content:center;
    align-content:center;
    right:0px;
}


#buttonRow{
    display:flex;
    /* flex-direction:space-around; */
    margin:auto;
    flex-wrap:nowrap;
    position:relative;
    justify-content:center; 
    bottom:10px;
    right:0px;
}

.cardTextMapper{
    display: flex;
    flex-direction: row;
}

#mainCard{
    display:flex;
    justify-content:center; 
    align-items:center;
    
}


#popoverDeleteBody {
    display:flex;
    justify-content:center;
    align-items:center;
}