@import url('https://fonts.googleapis.com/css?family=Lato:300|Lobster&display=swap');

.name {
    color: #b45a22;
    
    font-family: Lobster;
    font-size:300%
}

.btn {
    display:flex;
    align-content:space-between;
    order:1;
    background-color:#504b5d;
    font-weight:bold;
    
}

#slogan{
    color:#625866;
    border: 5px 5px 5px 5px;
    

}