/* @import url('https://fonts.googleapis.com/css?family=Lato:300|Lobster&display=swap'); */


Main {
  text-align: center;
}


.App-header {
  background-color:#BF7785;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

footer{
  display:flex;
  justify-content: center;
}


/*Header*/


/* .auth-container {
  font-family: 'Lobster', cursive;
} */

/*Sidebar*/
.sidebar {
  display:flex;
  /* opacity:50%; */
  color:#5a4a5c; 
  margin-top: 10px;
  
}

.sidebar-list-styling {
  padding-left: 50px;
  padding-top: 15px;
  width: 10%;
  color:#b68664;
  
}

.sidebar-list a{
  color: #6c757c;
  padding:0;
  display:flex;
  flex-wrap:nowrap;
}

.sidebar-route {
  flex: 1;
  padding: '00px';
  /* display:flex;
  flex-wrap:nowrap; */
}

.mainMission {
  backgroundcolor:white;

}




/*Office Styling*/

.modalButton {
  margin-right: 100%;
}

#groupCards { 
  background-color:#60545f;
  display: flex;
  flex-direction:row;
  
}

#myCard {
display: flex;
flex-direction:row;
flex: 1;

}

#cardRow {
  display:flex;
  flex-direction:row;
  justify-content:center;
  
}

#cardText {
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap: wrap;
  
  
}

#allCards {
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap: wrap;
}

