/* @import url('https://fonts.googleapis.com/css?family=Lato:300|Lobster&display=swap'); */


Main {
  text-align: center;
}


#logoutButton{
  background-color:#b45a22;
  font-family:Lobster;
  font-size:115%;
}

.App-header {
  background-color:#BF7785;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

footer{
  display:flex;
  justify-content: center;
}

/*Auth*/
.creds {
  font-family: Lato
}


/*Header*/
#slogan {
  display:flex;
  justify-content:space-around;
  position:fixed;
  right:100px;
  top:10px;
  color: black;
  font-weight:bold;
}


/* .auth-container {
  font-family: 'Lobster', cursive;
} */

/*Sidebar*/
.routing-list-styling{
  font-weight:bold;

}



.sidebar {
  display:flex;
  /* opacity:50%; */
  color:#5a4a5c; 
  margin-top: 10px;
  
}

.sidebar-list-styling {
  padding-left: 50px;
  padding-top: 15px;
  width: 10%;
  color:#b68664;
  
}

.sidebar-list a{
  color: #6c757c;
  padding:0;
  display:flex;
  flex-wrap:nowrap;
}

.sidebar-route {
  flex: 1;
  padding: '00px';
}

/*Office Styling*/

#cardTitle {
  font-family: 'Lobster', cursive;
  text-decoration:underline;
  font-size: 170%;
  display:flex;
  justify-content:center;
}

#cardMapper{
  background-color:#FEDDAB;
  padding: 5px 5px 5px 15px;
  border: 3px solid;
  width: 200px;
  border-radius: 10px;
  background-image: url("./components/assets/45-degree-fabric-light.png");
  
}
.modalButton {
  margin-right: 100%;
}

#groupCards { 
  background-color:#60545f;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: flex;
  flex-direction:row;
  padding:10px;
  border: 3px outset black;
  border-style: outset;
  border-radius: 10px;
  
}

#myCard {
display: flex;
flex-direction:row;
background-color:#60545f;
background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
margin-bottom: auto; 
}

#cardRow {
  display:flex;
  flex-direction:row;
  justify-content:center;

}

#cardText {
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap: wrap;
}

#allCards {
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap: wrap;
}

#deleteButton{
  background-color:#b45a22;
  font-family: 'Lobster', cursive;
  font-size: 110%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  border: 100%;
  margin-top: auto;
  }
  
  #updateButton{
    background-color:#b45a22;
    font-family: 'Lobster', cursive;
  }

  #pastOffices {
    color:#60545f;
    font-size:200%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    padding:10px;
  }

  #img {
    display:flex;
    justify-content:flex-end;
    flex-direction:row;
  }

    #plus {
      /* position:absolute; */
      display:flex;
      justify-content:left;
      flex-direction:row;
      position: relative;
      top:20px; 
      margin-left:20px;
    }


    #createId{
      color:#60545f;
      font-size:90%;
      font-weight:bold;
      font-style: italic;
      margin-left: 50px;
      margin-bottom:-30px;
    }

    #createHeader {
      color:#60545f;
      font-size:200%;
      display:flex;
      flex-direction:row;
      justify-content:center;
      padding:10px;
    }


    .createLabels {
      font-weight:bold;
    }

    
    .routing{
      border-bottom: 1px solid #625866;
    }

    /**react-router-dom*/
    .routing-list-styling{
      text-decoration:none;
      position: inline-block;
      color:#625866;

    }

    Link {
      color:#625866
    }

      a:link{
        color:#625866;
      }
      a:visited{
        color:#625866;
      }
      a:hover{
        color:black;
        text-decoration:none;
      }

    #noOffices{
      color:white;
      text-align:center;
     
    }

    #myCard{
      border:none;
      margin-top:8px;
    }

    #createColor{
      display:flex;
      justify-content:center;
      align-items:center;
    }

    #updateModal {
      background-color:#dcd6bd;
    }

    #editModalTitle {
      color:#60545f;
      font-size:500%;
      display:flex;
      flex-direction:row;
      justify-content:center;
    }


    #updateBody{
      background-color:#60545f;
    }

    .editLabel{
      color:white
    }


/*Mission */
#missionTitle {
  text-align: center;
  color:#60545f;
  font-size:200%;
}

#createBtn {
  margin-top: 300px;
  margin-right: 500px;
  display:flex;
  justify-content:row;
}

#missionText {
  padding: 10px;
  background-color:#ede6e9;
  color: black;
  font-weight:bold;
}

#missionMap {
  background-color: #ede6e9;
  display:flex;
  justify-content:center;
  align-items:center;
  align-self:center;
  padding:10px;
}

.mainMission{
  background-color: #ede6e9;
}


    

