@import url('https://fonts.googleapis.com/css?family=Lato:300|Lobster&display=swap');

body {
  margin: 0;
  background-image: url("./components/assets/road.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  width:100%;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


