@import url('https://fonts.googleapis.com/css?family=Lato:300|Lobster&display=swap');

.auth-container {
    font-family: 'Lobster', cursive;
    /* diplay:flex;
    justify-content:center; */
}

.login-col {
    /* display:flex;
    justify-content: center; */

}

#rowcenter {
    display:flex;
    justify-content: center;
    margin-top:30px;
    padding:10px;
}