@import url('https://fonts.googleapis.com/css?family=Lato:300|Lobster&display=swap');


label {
    font-family: 'Lato', sans-serif;
    font-weight: bold;

}

input {
    font-family: 'Lato', sans-serif;
}

#signupButton {
    background-color:#b45a22; 
     position:relative;
     margin: auto;
     left:3px;
     margin-top:15px;
     /* right: -50px; */
}

#creds {
    font-family: Lato;
}

